.column {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #999;
    margin: 50px;
    font-family: sans-serif, Arial;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px 1px #555;
}

.column:hover {
    transform: translateY(-10px); 
    box-shadow: 0 0 10px 5px #555;
}

.column h2 {
    margin: 10px 0;
    text-align: center;
}

.column p {
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 1040px) {
    .column {
        width: 250px;
        height: auto;
        padding: 40px;
        margin: 30px;
    }

    .column h2 {
        font-size: 1.2rem;
    }

    .column p {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .three-columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 
    }

    .column {
        width: 280px;
        height: auto;
        margin: 20px;
        padding: 30px;
    }

    .column h2 {
        font-size: 1.2rem;
    }

    .column p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .three-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 300px;
        height: auto;
        padding: 30px;
        margin: 20px 0;
    }

    .column h2 {
        font-size: 1.1rem;
    }

    .column p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .column {
        padding: 20px;
        margin: 15px 0;
    }

    .column h2 {
        font-size: 1rem;
    }

    .column p {
        font-size: 0.8rem;
    }
}
