.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 80px 250px;
    box-sizing: border-box;
}

.error-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    flex: 1;
}

.errorimg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorimg img {
    width: 80%;
    max-width: 600px;
    min-width: 400px;
    height: auto;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .error-container {
        padding: 60px 150px;
    }

    .errorimg img {
        width: 70%;
        max-width: 500px;
        min-width: 350px;
    }
}

@media (min-width: 1025px) {
    .errorimg img {
        width: 80%;
        max-width: 600px;
        min-width: 450px;
    }
}

@media (max-width: 768px) {
    .error-container {
        padding: 40px 30px;
        flex-direction: column;
    }

    .error-content {
        align-items: center;
        text-align: center;
        margin-right: 0;
    }

    .errorimg img {
        width: 100%;
        max-width: 400px;
    }
}

.error-content h1 {
    font-size: 8rem;
    margin: 0;
    color: #ff4757;
    text-shadow:
        0 0 5px rgba(255, 255, 0, 1),
        0 0 10px rgba(255, 255, 0, 1),
        0 0 20px rgba(255, 255, 0, 1),
        0 0 40px rgba(255, 217, 0, 1),
        0 0 80px rgba(255, 217, 0, 1),
        0 0 90px rgba(255, 217, 0, 1),
        0 0 100px rgba(255, 217, 0, 1),
        0 0 140px rgba(255, 217, 0, 1);
    animation: float 4s ease-in-out infinite;
}

.error-content h2 {
    font-size: 2rem;
    margin: 20px 0;
}

.error-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}