.home-container {
    text-align: center;
    padding-top: 50px;
}

.typewriter {
    font-size: 2rem;
    color: #000000;
    font-family: sans-serif;
    max-width: 100%;
    min-height: 60px;
    line-height: 1.2;
    overflow: hidden;
    margin: 30px auto 10px;
}

.btn-container {
    animation: fadeInUp 1s ease-in-out;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-image-wrapper {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.home-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease-in-out;
    transition: transform 0.3s ease;
}

.home-image:hover {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .home-image {
        max-width: 90%;
    }
}


@media (max-width: 1024px) {
    .typewriter {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .home-container {
        padding-top: 50px;
    }

    .typewriter {
        font-size: 1.5rem;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .typewriter {
        font-size: 1.3rem;
        min-height: 70px;
        line-height: 1.4;
    }
}

@media (max-width: 380px) {
    .home-container {
        padding-top: 10px;
    }

    .typewriter {
        font-size: 1.2rem;
        min-height: 60px;
        line-height: 1.5;
    }
}
