.market-image {
    display: flex;
    gap: 200px;
    justify-content: center; 
    margin-top: 50px;
}

.img-market {
    position: relative; 
    width: 600px;
    height: 500px;
    overflow: hidden; 
    box-shadow: 0px 0px 10px 5px #fff;
}

.img-market:hover {
    box-shadow: 0px 0px 15px 15px #fff;
}

.img-market img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.img-market:hover img {
    transform: scale(1.2); 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff;
    font-family: sans-serif;
    opacity: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: opacity 0.3s ease; 
    transform: translateX(-100%);
}

.img-market:hover .overlay {
    opacity: 1; 
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.overlay h3 {
    font-size: 1.5rem;
}

.overlay h3, .overlay p {
    margin: 0;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.overlay h3 {
    animation-name: fadeInLeft;
}

@media (max-width: 1600px) {
    .img-market {
        width: 550px;
        height: 460px;
    }
}

@media (max-width: 1440px) {
    .img-market {
        width: 500px;
        height: 420px;
    }
}

@media (max-width: 1200px) {
    .img-market {
        width: 450px;
        height: 380px;
    }
}

@media (max-width: 1040px) {
    .market-image {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }

    .img-market {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .img-market {
        width: 100%;
        height: auto;
    }

    .market-image {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .overlay h3 {
        font-size: 1.2rem;
    }

    .overlay p {
        font-size: 0.9rem;
    }
}