.secondary-title {
    color: #777;
    margin: 30px 0;
    font-size: 80px;
    text-align: center;
    width: 100%;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.2;
}

@media (max-width: 768px) {
    .secondary-title {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .secondary-title {
        font-size: 28px;
    }
}

@media (max-width: 300px) {
    .secondary-title {
        font-size: 24px;
    }
}