.values-container {
    max-width: 420px;
    width: 90%;
    min-height: 150px;
    margin: 50px auto;
    padding: 15px;
    display: flex;
    position: relative;
    font-family: sans-serif;
    gap: 20px;
    flex-wrap: wrap;
}

.values-container img {
    position: absolute;
    height: auto;
}

.values-content {
    flex: 1;
    min-width: 200px;
    margin-left: 50px;
}

.values-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.values-content p {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
}

.values-container:hover {
    box-shadow: 0px 0px 20px 0px black;
}

@media (max-width: 500px) {
    .values-container {
        align-items: flex-start;
        padding-left: 50px;
    }

    .values-container img {
        position: static;
        margin-bottom: 10px;
    }

    .values-content {
        flex-direction: column;
        margin-left: 0;
    }
}